<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include partials/head %>
    <title>CRM - Customers</title>
  </head>
  <body>
    <% include partials/navbar %>

    <div class="container-fluid">
      <div class="row">
        <% include partials/sidebar %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Customers</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <% customers.forEach(customer => { %>
                <tr>
                  <td>
                    <a href="/customer/<%= customer.id %>"><%= customer.name %></a>
                  </td>
                  <td>
                    <%= customer.location.x %>, <%= customer.location.y %>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% include partials/scripts %>
  </body>
</html>
