<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include partials/head %>
    <title>CRM - Sales</title>
  </head>
  <body>
    <% include partials/navbar %>

    <div class="container-fluid">
      <div class="row">
        <% include partials/sidebar %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Sales</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Customer
                </th>
                <th>
                  Service
                </th>
                <th>
                  User
                </th>
              </tr>
            </thead>
            <tbody>
              <% sales.forEach(sale => { %>
                <tr>
                  <td>
                    <%= sale.customer %>
                  </td>
                  <td>
                    <%= sale.service %>
                  </td>
                  <td>
                    <%= sale.user %>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% include partials/scripts %>
  </body>
</html>
